body {
  font-family: "Helvetica";
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 200px;
  align-items: center;
}

.productImage {
  display: flex;
  width: 100%;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productName {
  text-decoration: none;
  color: #00594c;
  font-weight: bold;
}

.productInfo > span {
  font-weight: bold;
}

.purchaseButton {
  width: 90%;
  border-radius: 50px;
  font-weight: bold;
  background: #00594c;
  color: #ffffff;
  border: none;
  height: 35px;
  outline: none;
  margin-top: auto;
  cursor: pointer;
}
.purchaseButton:hover {
  background: #00322b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
